body,p{
    margin:0px;
    background-color: #15121C;
    font-family: 'Roboto', sans-serif;
}
.selfiebox{
    width: 15vw;
    height: 40vh;
    margin-left: 8vw;
    margin-bottom: 10vh    ;
    background-color: #F2EFF5;
    border-color:red;
    border-width:2px;
    border-style: solid;
}
.selfieboxcontainer{
    display: flex;
    flex-wrap: wrap;
    margin-top: 5vh;
}
.transparentnamnbox{
    width: 100%;
    height: 10%;
    background-color: #15121C;
    opacity: 80%;
    text-align: center;
    padding-top: 5px;
    margin-top: -17%;
}
a.whitetext{
    color:#F2EFF5;
}
img{
    display: block;
    width: 100%;
    height: 100%;
}
